

.card img{
    width: 250px;
    height: 100px;
    margin: 7%;
    
}
.card:hover{
    transform: scale(1.1);
    
}

.card{
    background-color:rgba(194, 216, 216, 0.627);
    display: inline-block;
    margin: 44px;
    width: 350px;
    height: 350px;

}
.para a{
   margin-left: 5%;
}


.carousel-inner{
   
    width: 90%;
    max-height: 600px;
    margin-left: auto;
margin-right: auto;
}
img{
    height: 600px;
    width:500px;

} 

body{
    background-color: #e3f2fd;
    /* background-image: url(images/back.webp); */
    /* background-color: #616D7E; */
    /* background-repeat: no-repeat;
    background-size: cover; */

}
.inner{
    overflow:  hidden;
}
.inner img{
    transition: all 1.5s ease;
}
 .inner:hover img{
    transform: scale(1.5);
 }

 .footer img{
    margin: 10px;
    padding:5px;
    width:50px;
    height:50px;
 }
 /*.footer a{
        margin: 200px;
        
 } */
 .copyright{
    text-align: center;
    color: black;
    font-size: 150%;
 }
 .divid{
    display: inline;
    margin: 13%;
    }

    .bookhotel img{
        width: 352px;
        height: 200px;

    }
.bookhotel{
  
    display: grid;
 grid-template-rows: 200px 200px ;
 grid-template-columns: 1fr 1fr 1fr ;
grid-gap: 20px;
}

.bookhotel img:hover{
    transform: scale(1.1);
    
}
